<h2 class="FP">Forgot your password?</h2>
<section class="O">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <div class="large-10">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
</div>

  <div class="actions">
      <%= f.submit "Send me reset password instructions", :class => 'button medium'%>
  </div>
<% end %>

<%= render "writers/shared/links" %>
    </section>
