
<p>
  <strong>Article:</strong>
  <%= @comment.article_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<div id="comments">
    <%= render :partial => @comment.comments.reverse %>
</div>

<%= form_for([@comment, Comment.new], remote: true) do |f| %>
<p><%= f.label :body, "New Article" %><br/>
    <%= f.text_area :body %>

</p>
<p><%= f.submit"Add Article"%></p>
<%end%>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
