<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <div class="large-10">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
</div>

<!--#esto estaba sin section-->
<div class="field">
    <div class="large-10">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
</div>
    
  <div class="field">
    <div class="large-10">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
</div>

  <div class="actions">
    <%= f.submit'ACEPTAR', :class => 'button small'%>
  </div>
<% end %>
