<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu" data-dropdown-menu>
      <li class="menu-text">Practica rails</li>
      <li>
        
      </li>
        <li><%= link_to "home", controller: "/articles", action: "index" %></li>
        <li><% if writer_signed_in? %>
            
            <%= link_to "nuevo Article", controller: "/articles", action: "new" %>
              <% else %>
            
           
          
          <%end%>
          
          
          </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
        <% if writer_signed_in? %>
        <li> <strong><%= current_writer.email %></strong> </li>
        
        <li><%= link_to 'Edit profile', edit_writer_registration_path, :class => 'navbar-link' %></li>
       <li> <%= link_to "Logout", destroy_writer_session_path, method: :delete, :class => 'navbar-link' %> </li>
       
        
        
        <% elsif publisher_signed_in? %>
        <li> <strong><%= current_publisher.email %></strong> </li>
        <li><%= link_to 'Edit profile', edit_publisher_registration_path, :class => 'navbar-link' %></li>
        <li> <%= link_to "Logout", destroy_publisher_session_path, method: :delete, :class => 'navbar-link' %> </li>
          <% else %> 
        <li> <%= link_to "Sign up", new_writer_registration_path, :class => 'navbar-link' %> </li>
        <li> <%= link_to "Login", new_writer_session_path, :class => 'navbar-link' %> </li>
        <li> <%= link_to "Login publisher", new_publisher_session_path, :class => 'navbar-link' %> </li>
        <% end %>
        
    </ul>
  </div>
</div>

