<h1 class="LA">"ARTICLES"</h1>

<table class="TB">
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Body</th>
        <% if publisher_signed_in? %> 
        <th>Writer</th> <% else %>  <% end %> 
        
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<section class="tablas">
          <div class="small-4 columns">
      
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
          
         <td><%= image_tag article.image.url(:original) %></td>
          
          
          <td>
              <% if article.body.length > 0 %>
              <a href="#" data-open="article-<%= article.id %>">Description of the Articles </a>
              <div id="article-<%= article.id%>" class="reveal" data-reveal>
                  
                  <%= article.body %>
                <button class="close-button" data-close aria-label="cerrar" type="button">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
              
              <% end %>
          </td>
          
          <% if publisher_signed_in? %>
          <td>
              <%= Writer.find(article.writer_id).email %></td>
          <% else %>
          
          <% end %>
          
          
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
          
        <td>
            <% if writer_signed_in? %>
             
              <% else %>
            
            <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          
          <% end %>
          
          
      </tr>
                <% end %>
    </div>
  
      </section>
    
  </tbody>
</table>

<br>
<% if writer_signed_in? %>
<%= link_to 'New Article', new_article_path %>
<% else %>
<% end %>
