<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <div class="medium-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
</div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions", :class => 'button small' %>
  </div>
<% end %>

<%= render "publishers/shared/links" %>
